*{

	font-family: Century Gothic;
}
#header{
	
	background-image: url(./images1.jpg);
	
	background-position: right top;
	color: white;
	text-align: right;
	padding: 5px 10px;

}
#box1 {
	border-width: 3px;
	border-style: outset;
	border-radius: 15px;
	background-image: url(./paper.jpg);
	border-color: #eac086;
}   
#box2 {
	border-width: 3px;
	border-style: outset;
	border-radius: 15px;
	background-image: url(./paper.jpg);
	border-color: #eac086;
}   
#box3 {
	border-width: 3px; 
	border-style: outset;
	border-radius: 15px;
 	background-image: url(./paper.jpg);
 	border-color: #eac086;
}   
#container{
	margin: auto;
	background-color: white;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	background-image:  url(./body.jpg);
	background-position: center;
}
a  {
	text-decoration: none;
	display: inline-block;
	padding: 8px 16px;
	background-color: none;
	color: black;
	white-space: nowrap;
	border-radius: 25px;
	overflow: auto;
	margin: 0px auto;
}
a:hover {
	background-color: #808080;
	color: black;
}
#hold{
	background-image:  url(./body.jpg);
	background-position: center;
	padding: 120px 10px;
}
#footer{
	text-align: center;
	background-color: #000;
	color: #f1f1f1;
	padding: 4px 10px;
	opacity: 0.6;
}
h2 {
	font-size: 20px;
}
h3{
	font-size: 20px;
}
h4{
	font-size: 20px;
}