*
{
	margin:0;
	padding:0;
}
header
{
	background-image: url(contact.jpg);
	height:100vh;
	background-size:cover;
	background-position:center;

}
.contact
{
	padding-top: 20px;
	float:center;
	margin-top: 20px;
	max-width: 1300px;
	margin:auto;
}
.contact li
{
	display: inline-block;
}
.contact li a
{
	 border: 1px solid white;
}
.contact a:hover
{
	border: 1px solid white;
	color: white;
	background-color: darkorange;
}

.gmail
{
	position: center;
}